nav {
	padding: 1.25rem 2rem;
	display: flex;
	justify-content: space-between;
}

.menu-nav {
	display: flex;
	align-items: center;
	gap: 1rem;
	font: var(--menu-text);

	& li:nth-child(1) {
		& img {
			width: 1.5rem;
			height: 1.5rem;
			margin-right: 0.25rem;
		}
	}

	& li:nth-child(4) {
		& img {
			width: 2.5rem;
			height: 2.5rem;
		}
	}
}

@media (width <= 29.6875rem) {
	nav {
		padding: 1rem;
	}
	.menu-nav li:not(:has(img)) {
		display: none; /* Esconde as <li> que não contêm <img> */
	}
}
